<h2>{{name}}</h2>
<img src="{{flag}}" alt="Флаг {{name}}" width="320">
<p>Capital: {{capital}}</p>

<ul>Languages:{{#each}}
    <li>{{languages.name}}</li> {{/each}}</ul>
<p>Population: {{population}} человек</p>