<h2>{{name}}</h2>
<div class="wrapper">
    <div>
        <p><span class="field">Capital: </span>{{capital}}</p>
        <p><span class="field">Population: </span>{{population}}</p>
        <span class="field">Languages:</span>
        <ul>{{#each languages}}
            <li>{{name}}</li> {{/each}}</ul>
    </div>
    <img src="{{flag}}" alt="Флаг {{name}}" width="320">
</div>